{{- if gt ( int .Values.replicaCount ) 1 }}
{{- fail "Deploying more replicas than 1 is not supported." }}
{{- end }}

{{- $configType := typeOf .Values.configuration }}
{{- $configuration := "" }}
{{- $stripSuffix := false }}
{{- if eq $configType "map[string]interface {}" }}
{{- $configuration = (list (.Values.configuration)) }}
{{- $stripSuffix = true }}
{{- else }}
{{- $configuration = .Values.configuration }}
{{- end }}

{{- range $i, $config := $configuration }}
{{- $deploymentName := printf "%s-%v" (include "charts.fullname" $) $i }}
{{- if $stripSuffix }}
{{- $deploymentName = trimSuffix "-0" $deploymentName }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $deploymentName }}
  labels:
  {{- include "charts.labels" $ | nindent 4 }}
spec:
  replicas: {{ $.Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
    {{- include "charts.selectorLabels" (mergeOverwrite (deepCopy $) (dict "deploymentName" $deploymentName)) | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") $ | sha256sum }}
      labels:
      {{- include "charts.selectorLabels" (mergeOverwrite (deepCopy $) (dict "deploymentName" $deploymentName)) | nindent 8 }}
    spec:
      {{- $podSpec := include "ssh-punchhole.podSpec" (dict "Release" $.Release "Chart" $.Chart "Values" $.Values "config" $config) | fromYaml }}
      {{- mergeOverwrite (dict) $podSpec $.Values.extraPodSpec | toYaml | nindent 6 }}
{{- end }}
