name: Publish Release

on:
  push:
    tags:
      - '*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} --repo ${{ github.repository }} --generate-notes

  container:
    runs-on: ubuntu-latest
    needs: [create-release]

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,amd64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          sbom: false
          provenance: false

  chart:
    runs-on: ubuntu-latest
    needs: [create-release]

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Login to registry
        run: |
          echo '${{ secrets.GITHUB_TOKEN }}' | \
            helm registry login \
              -u '${{ github.repository_owner }}' \
              --password-stdin \
              ${REGISTRY}

      - name: Package Chart
        run: |
          echo PACKAGE=$( helm package chart/ --app-version ${{ github.ref_name }} --version ${{ github.ref_name }} | cut -d " " -f 8 ) >> ${GITHUB_ENV}

      - name: Push Chart
        run: |
          helm push \
            ${{ env.PACKAGE }} \
            oci://${{ env.REGISTRY }}/${{ github.repository_owner }}/charts

      - name: Upload Chart to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ github.ref_name }} --repo ${{ github.repository }} ${{ env.PACKAGE }}
